<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rag.domain.mapper.DocumentMapper">

    <select id="selectPageWithReviewStatus" resultType="com.rag.domain.entity.Document">
        SELECT d.*
        FROM documents d
        WHERE d.deleted = 0
        <if test="query.kbId != null">
            AND d.kb_id = #{query.kbId}
        </if>
        <if test="query.status != null and query.status != ''">
            AND d.status = #{query.status}
        </if>
        <if test="query.fileName != null and query.fileName != ''">
            AND d.file_name LIKE CONCAT('%', #{query.fileName}, '%')
        </if>
        <if test="query.uploadUserId != null">
            AND d.upload_user_id = #{query.uploadUserId}
        </if>
        ORDER BY d.created_at DESC
    </select>

</mapper>
